.synth-block {
  padding: 50px;
  outline: none;
}

.synth-container {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 700px;
  height: 300px;
  border: 1px solid;
  border-radius: 6px;
  background: rgb(202, 202, 202);
}
